.t-smoothpage--scrollbar {
    display: none;
    position: fixed;
    top: 0; right: 0;
    height: 100%;
    background: red;
    width: 4px;
}

html.t-smoothpage--enabled .t-smoothpage--scrollbar {
    display: block;
}